<div class="body">
    <img [src]="image" alt="imagen de persona" class="img">
    <p class="descripcion">Nuestro gimnasio es un espacio moderno y completo diseñado para ayudarte a alcanzar 
        tus metas de salud y bienestar. Contamos con una amplia variedad de equipos de última generación para 
        entrenamiento cardiovascular, fuerza y musculación, así como áreas dedicadas a clases grupales como yoga, 
        spinning, zumba y entrenamiento funcional. Nuestro ambiente es limpio, seguro y motivador, ideal tanto 
        para principiantes como para atletas experimentados. Además, ofrecemos asesoría personalizada con 
        entrenadores certificados y planes de entrenamiento adaptados a tus objetivos. ¡Ven y forma parte de 
        una comunidad que te impulsa a dar lo mejor de ti!
    </p>
    <h2 style="font-weight: bold;">Equipo de desarollo</h2>
    <div class="contenido">
        <div class="persona">
            <p>Persona</p>
        </div>
        <div class="persona">
            <p>Persona</p>
        </div>
        <div class="persona">
            <p>Persona</p>
        </div>
    </div>
</div>
