<ul class="nav justify-content-center" style="background-color: #000000;" data-bs-theme="dark"> 
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/clases']">Clases</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/session']">Session</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/nosotros']">Nosotros</a>
      </li>
  </ul>