.carousel {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
    text-align: center;
}
  
.carousel img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
  
.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
  
.controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2em;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-family: "Rubik Mono One", monospace;
}
h4 {
    text-align: center;
    color: #000000;
    margin-bottom: .5em;
    font-family: "Rubik Mono One", monospace;
    font-weight: 100;
}

iframe {
    margin-top: 3em;
    box-shadow: 7px 7px black;
}